<div class="row">
    <div class="col-md-6">
        <div class="container-xl px-4 mt-4">
            <!-- Account page navigation-->
            <hr class="mt-0 mb-4">
            <div class="row">
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header text-center font-weight-bold">Change Password</div>
                        <div class="message-error mt-2" *ngIf="isError">
                            <p class="ml-4">{{message}}</p>
                        </div>
                        <div class="card-body mt-4 ml-4 mr-4">
                            <form>
                            
                                <label>New Password</label>
                                <div class="form-group pass_show">
                                    <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword"
                                        class="form-control" placeholder="New Password">
                                </div>
                                <label>Confirm Password</label>
                                <div class="form-group pass_show">
                                    <input type="password" id="reNewPassword" name="reNewPassword"
                                        [(ngModel)]="reNewPassword" class="form-control" placeholder="Confirm Password">
                                </div>

                                <!-- Save changes button-->
                                <button class="btn btn-primary" type="button" (click)="update()">Save changes</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>